header {
		width:100%;
		background-color: #7FBF4A;
		margin-bottom: 2px;
		-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
		-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
		-box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}

#navbar {
	background-color: #8CCB55;
}

#map { min-height: 640px; }
