/*
  Autor: Ricardo Barbosa
  Email: ricardobcm@outlook.com
*/
:root {
  --main-color : #7ABA7A;
  --main-text-color : #FFF;
  --popup-color :  #7ABA7A;
}

html, body, .container-fluid {
  height: 100%;
}

@font-face {
  font-family:'Manteka';
  src:url('../../fonts/manteka.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  max-height: calc(100% - 104px);
}

/*Navbar*/
.navbar {
  width:100%;
  background-color: var(--main-color);
  padding: 0 10px 0 0;
}

#title-navbar {
  color: var(--main-text-color);
}

.navbar-text {
  padding: 0;
  border: 0;
}

.navbar-brand {
  padding:0;
  margin: 0;
}

.nav-text-link {
  color: var(--main-text-color);
  font-size: smaller;
  text-align: right;
  font-family: 'Manteka';
  border: 0 solid var(--main-color);
  border-bottom-width: 4px;
}

.nav-text-link:hover {
  color: var(--main-text-color);
}

/*Colunas*/
.col-md-9{
  height: 100%;
  padding: 0;
}

#map { 
  width: 100%;
  height: 100%;
}

.row {
  height: 100%;
}

.col-md-3 {
  padding-left: 15px;
}

#information-wrapper {
  width: 100%;
  height: 100%;
  padding: 3px;
  background-color: var(--main-color);
}

/*Busca*/
#search-all-div {
  padding:0;
}

#search-all-results {
  position: absolute;
  width: 89%;
  z-index: 1001;
  -webkit-box-shadow: 20px 4px 9px  rgba(0,0,0,.25);
     -moz-box-shadow: 20px 4px 9px  rgba(0,0,0,.25);
          box-shadow: 20px 4px 9px  rgba(0,0,0,.25);
}

#layers-type {
  padding: 10px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  background-color: #fff;
  font-size: small;
}

#products-select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  background-color: #fff;
  font-size: small;
}

.produtosNaLista {
  font-size: 10px;
}

.tituloNaLista {
  font-weight: bolder;
  font-size: 18px;
}


#list-markers {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#list-all-markers {
  width: 100%;
}

#list-markers li:hover{
  cursor: pointer;
}

.link-class:hover {
  background-color: #F1F1F1;
  cursor: pointer;
}

.list-group-item {
  font-size: small;
  width: 108%;
}

.input-group-to-style .input-group-addon {
    border-color: #CED4DA;
    background-color: #fff;
}

.input-group.input-group-to-style input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow:none !important;
}

label {
  font-size: 14px;
}

.header-popup {
  text-align: center;
  border: 0 solid var(--main-color);
  border-bottom-width: 2px;
}

.botao-mais {
    background: transparent;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: -7px;
}

.botao-mais a {
    background: #7ABA7A;
    border: none;
    display: inline-block;
    height: 27px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    width: 74px
}

.botao-mais a:before{
    background: #7ABA7A;
    border: none;
    content: '';
    display: block;
    height: 26px;
    left: 58px;
    position: absolute;
    top: 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 26px;
}

.botao-mais a button {
    color: #fff;
    background: none;
    border: none;
    position: relative;
    width: 78px;
    height: 20px;
    font-size: 17px;
    font-family: 'Manteka'
}

/*Checkbox estilo material design*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: #000;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    content: '';
    height: 16px;
    margin-top: -4px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: #686b5b;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 18px;
    left: -2px;
    margin-top: -7px;
    position: absolute;
    top: 2px;
    transition: all 0.2s ease-in-out;
    width: 20px;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 25px;
}

#switch-feira-label {
  background-color: #A171A7;
}

#switch-comercio-label {
  background-color: #D46A6A;
}

#switch-produtora-label {
  background-color: #91DC5A;
}

#switch-horticolas-label {
  background-color: #29a8de;
}

#switch-frutiferas-label {
  background-color: #29a8de;
}

#switch-animal-label {
  background-color: #29a8de;
}

#locais-modal div .modal-header {
  align-self: center;
}

/* Toogler Button Animation */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
     -moz-transition: transform .35s ease-in-out;
       -o-transition: transform .35s ease-in-out;
          transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: relative;
    top: 10px;
    opacity: 0.9;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: relative;
    top: -12px;
    opacity: 0.9;
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
}

/*Leaflet my styles*/
.leaflet-popup-content-wrapper {
  border-radius: 3px; s
  box-shadow: 0 0 0 0;
  margin:0;
  padding: 0;
  border-color: var(--popup-color);
  border-width: 1px;
  border-style: solid;
}

.leaflet-popup-tip {
  box-shadow: 0 0 0 0;
  background-color: var(--popup-color);
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--popup-color);
}

a.leaflet-control-zoomhome-in, a.leaflet-control-zoomhome-out, a.leaflet-control-zoomhome-home {
  background-color: #CAD5AF;
}

.leaflet-control-zoomhome.leaflet-bar.leaflet-control {
  border: 1px solid #fff;
  box-shadow: 3px 3px 9px rgba(0,0,0,.65);
}

.leaflet-control-minimap.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom.leaflet-control {
  border: 1px solid #fff;
  -webkit-box-shadow: 4px 3px 9px rgba(0,0,0,.65); 
     -moz-box-shadow: 4px 3px 9px rgba(0,0,0,.65); 
          box-shadow: 4px 3px 9px rgba(0,0,0,.65); 
}

.leaflet-control-minimap {
  border: 1px solid #fff;
  -webkit-box-shadow: 4px 3px 9px rgba(0,0,0,.65); 
     -moz-box-shadow: 4px 3px 9px rgba(0,0,0,.65); 
          box-shadow: 4px 3px 9px rgba(0,0,0,.65); 
}

.basemap.alt img  {
  border: 1px solid #fff;
  border-radius: 3px;
  margin-right: -5px;
  -webkit-box-shadow: 3px 5px 5px rgba(0,0,0,.65); 
     -moz-box-shadow: 3px 5px 5px rgba(0,0,0,.65); 
          box-shadow: 3px 5px 5px rgba(0,0,0,.65);  
}

.container-popup {
  position: relative;
}

.container-popup h4{
 white-space: nowrap;
}

.info-content {
  font-weight: bold;
  font-size: 15px;
}

.info-content-text {
  white-space: nowrap;
}

@media (min-width: 576px) {
  body {
    padding: 0;
    margin: 0;
    max-height: calc(100% - 66px);
  } 

  .navbar {
    margin-bottom: 3px;
  }

  .nav-text-link {
    font-size: large;
  }

  .nav-text-link:hover {
    color: var(--main-text-color);
    border: 0 solid #fff;
    border-bottom-width: 4px;
    border-radius: 5px;
    transition-duration: 0.3s;
  }

  .col-md-9 {
    padding: 0 3px 0 3px;
  }

  #map { 
    border-radius: 3px;
  }

  .col-md-3 {
    padding-left: 18px;
    height: 100%;
  }

  #information-wrapper {
    padding: 5px;
    border-radius: 0;
    margin: 0 0 -3px -3px;
    background-color: var(--main-color);
  }
  
  .labels-the-organicos {
    text-align: center;
    font-family: 'Manteka';
    color: #fff;
    margin: 10px 0 0 0;
  }
}

#about-div img {
  float: left;
  margin-right: 10px;
}

#about-div p {
  text-align: justify;
}

.modal-body {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 99%, rgba(122,186,122,0.6587009803921569) 100%);
}

.inside-filter {
 text-align: center;
 font-family: "Manteka";
 font-size: 13px;
 font-weight: bold;
}

.place-modal-content {
  margin: 10px 0 10px 0;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #888;
}

#locais-modal h4 {
  text-align: center;
}

